@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 229 19% 91%; /* #e6e7ed */
    --foreground: 223 18% 27%; /* #363c4d */
    --card: 225 13% 85%; /* #d6d8df */
    --card-foreground: 223 18% 27%; /* #363c4d */
    --popover: 225 13% 85%; /* #d6d8df */
    --popover-foreground: 223 18% 27%; /* #363c4d */
    --primary: 218 60% 42%; /* #2959aa */
    --primary-foreground: 0 0% 100%; /* #ffffff */
    --secondary: 225 8% 47%; /* #707280 */
    --secondary-foreground: 223 18% 27%; /* #363c4d */
    --muted: 223 11% 64%; /* #9da0ab */
    --muted-foreground: 223 18% 27%; /* #363c4d */
    --accent: 218 60% 42%; /* #2959aa */
    --accent-foreground: 0 0% 100%; /* #ffffff */
    --destructive: 0 51% 38%; /* #942f2f */
    --destructive-foreground: 0 0% 100%; /* #ffffff */
    --border: 225 8% 77%; /* #c1c2c7 */
    --input: 229 19% 91%; /* #e6e7ed */
    --ring: 218 60% 42%; /* #2959aa */
    --chart-1: 28 65% 30%; /* #965027 */
    --chart-2: 156 68% 30%; /* #33635c */
    --chart-3: 218 60% 42%; /* #2959aa */
    --chart-4: 267 47% 49%; /* #65359d */
    --chart-5: 42 84% 32%; /* #8f5e15 */
    --radius: 0.5rem;
    --radius-lg: 0.5rem;
    --radius-md: calc(0.5rem - 2px);
    --radius-sm: calc(0.5rem - 4px);
    --sidebar-background: 225 13% 85%; /* #d6d8df */
    --sidebar-foreground: 223 18% 27%; /* #363c4d */
    --sidebar-primary: 218 60% 42%; /* #2959aa */
    --sidebar-primary-foreground: 0 0% 100%; /* #ffffff */
    --sidebar-accent: 225 8% 47%; /* #707280 */
    --sidebar-accent-foreground: 223 18% 27%; /* #363c4d */
    --sidebar-border: 225 8% 77%; /* #c1c2c7 */
    --sidebar-ring: 218 60% 42%; /* #2959aa */
  }
  .dark {
    --background: 228 29% 22%; /* #24283b */
    --foreground: 226 28% 67%; /* #a9b1d6 */
    --card: 227 31% 19%; /* #1f2335 */
    --card-foreground: 226 28% 67%; /* #a9b1d6 */
    --popover: 228 37% 17%; /* #1b1e2e */
    --popover-foreground: 226 28% 67%; /* #a9b1d6 */
    --primary: 220 48% 44%; /* #3d59a1 */
    --primary-foreground: 0 0% 100%; /* #ffffff */
    --secondary: 221 21% 31%; /* #41496b */
    --secondary-foreground: 226 28% 67%; /* #a9b1d6 */
    --muted: 223 22% 34%; /* #545c7e */
    --muted-foreground: 218 23% 56%; /* #8089b3 */
    --accent: 220 48% 44%; /* #3d59a1 */
    --accent-foreground: 0 0% 100%; /* #ffffff */
    --destructive: 0 62% 61%; /* #f7768e */
    --destructive-foreground: 0 0% 100%; /* #ffffff */
    --border: 228 37% 17%; /* #1b1e2e */
    --input: 228 37% 17%; /* #1b1e2e */
    --ring: 220 48% 44%; /* #3d59a1 */
    --chart-1: 12 76% 61%; /* #ff9e64 */
    --chart-2: 166 71% 56%; /* #73daca */
    --chart-3: 218 91% 70%; /* #7aa2f7 */
    --chart-4: 267 84% 81%; /* #bb9af7 */
    --chart-5: 42 81% 62%; /* #e0af68 */
    --sidebar-background: 227 31% 19%; /* #1f2335 */
    --sidebar-foreground: 218 23% 56%; /* #8089b3 */
    --sidebar-primary: 226 28% 67%; /* #a9b1d6 */
    --sidebar-primary-foreground: 228 29% 22%; /* #24283b */
    --sidebar-accent: 221 21% 31%; /* #41496b */
    --sidebar-accent-foreground: 226 28% 67%; /* #a9b1d6 */
    --sidebar-border: 228 37% 17%; /* #1b1e2e */
    --sidebar-ring: 220 48% 44%; /* #3d59a1 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
